<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign UP</title>
</head>
<body>
    <div class="signup">
        <h3 class="cmpname">Fast shopping</h3>
        <h1>Create Account</h1>
          <mat-form-field class="first-name">
              <input matInput placeholder="First name" #fname>
          </mat-form-field>  
          <mat-form-field class="last-name">
              <input matInput placeholder="last name" #lname>
          </mat-form-field><br>
          <mat-form-field class="Address">
                <textarea matInput placeholder="Enter The Address" #address></textarea>
          </mat-form-field><br>
          <mat-form-field class="phone">
                 <input matInput placeholder="Enter Phone Number" maxlength="10" #phone>
          </mat-form-field><br>
          <mat-form-field class="email">
                 <input matInput placeholder="Enter Email Address" #email>
          </mat-form-field><br>
          <mat-form-field class="password" >
                 <input matInput type="password" placeholder="Enter password" #password>
          </mat-form-field><br>
          <mat-form-field class="confirm-password">
                 <input matInput type="password" placeholder="confirm-password ">
          </mat-form-field><br>
          <button (click)="onsubmit(fname.value,lname.value,address.value,phone.value,email.value,password.value)">Sign UP</button>
    </div>
</body>
</html>